<!--<div>-->
<!--  <h1>Money : {{myMoney }} </h1>-->
<!--  <app-child (totalCount)="getTotalPrice($event)"></app-child>-->

<!--&lt;!&ndash;  <h3>{{date | date:'yyy /m /d' }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>{{myStr | titlecase }}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>{{float1 | mult }}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>{{float1 | mult:5 }}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  <h4>{{float | percent: '1.1-1'}}</h4>&ndash;&gt;-->
<!--&lt;!&ndash; <pre>{{obj | json}}</pre>&ndash;&gt;-->
<!--</div>-->


<!--<div>-->
<!--  <input [(ngModel)] = 'title'>-->
<!--  <input [(ngModel)] = 'text'>-->
<!--  <button (click)="addPost()"> ADD </button>-->
<!--</div>-->





